.sign-up-page {
  display: flex;
  width: 430px;
  height: 932px;
  padding: 122px 80px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 25px;
  background: #fff;
}

.sign-up-page-heading {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.sign-up-page-description {
  width: 264px;
  color: #000;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sign-up-page-input-field1 {
  display: flex;
  width: 430px;
  height: 932px;
  padding: 122px 80px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  border-radius: 25px;
  background: #fff;
}

.input-sign-up-page-text-input {
  width: 264px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #b6d5fa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-sign-up-page-text-input1 {
  width: 264px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #b6d5fa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-sign-up-page-text-input2 {
  width: 264px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #b6d5fa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sign-up-page-sign-up-btn-button {
  display: flex;
  width: 196px;
  height: 47px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #4285f4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sign-up-page-text10 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.sign-up-page-text12 {
  width: 150px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
